.about-section {
	padding: 7rem 0;

	&__header {
		text-align: center;
		margin-bottom: 3rem;
	}

	&__hello,
	&__skills {
		margin: 4.5rem 0 3rem;
	}

	&__skills {
		.skills-logo-container {
			display: flex;
			align-items: center;
			justify-content: space-around;
			flex-wrap: wrap;
			img {
				width: 75px;
				margin-bottom: 10px;
			}
		}
	}
}
