@use 'variables' as *;

/* BASE BUTTON STYLES ================*/
.btn {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	font-weight: 500;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.94rem 0.75rem;
	font-size: 0.8rem;
	line-height: 1.5;
	transition:
		color 0.5s ease-in-out,
		background-color 0.5s ease-in-out,
		border-color 0.5s ease-in-out,
		box-shadow 0.5s ease-in-out;
	letter-spacing: 0.2rem;
}

.btn:hover {
	text-decoration: none;
}

.btn:focus {
	outline: 0;
}

/* CTA */
.btn-cta {
	width: 210px;
	margin: 1.5rem 1rem 0 0;
}

/* ACCENT =====================*/
.btn-accent {
	color: $clr-black;
	background-color: $clr-accent-light;
	border-color: $clr-accent-light;
}

.btn-accent:hover {
	background-color: $clr-accent-dark;
	border-color: $clr-accent-dark;
}

.btn-accent:focus {
	box-shadow: $btn-focus-box-shadow;
}

/* SECONDARY =====================*/
.btn-secondary {
	color: $clr-white;
	background-color: $clr-secondary;
	border-color: $clr-secondary;
}

.btn-secondary:hover {
	background-color: $clr-primary;
	border-color: $clr-primary;
}

.btn-secondary:focus {
	box-shadow: $btn-focus-box-shadow;
}
