@use 'variables' as *;

footer {
	background: $clr-black;
	color: $clr-white;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	p,
	a {
		font-size: 1.5rem;
		color: $clr-white;
		padding: 1rem;
	}
}
