@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto&display=swap');

/* base styles */
html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-fam-primary;
	background-color: $clr-primary;
	font-size: $font-size-body;
	line-height: $line-ht-loose;
	color: $clr-text-body;
	// margin-top: -16px; // get rid of white space top of page
	// margin-bottom: -16px; // get rid of white space bottom of page
}

* {
	box-sizing: border-box;
}

img,
embed,
object,
video {
	max-width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: $clr-text-body;
}

h1,
h2,
h3,
h4 {
	color: $clr-text-heading;
}

h1,
h2,
h3 {
	margin: 0;
}

h2 {
	color: $clr-accent-dark;
	font-size: $font-size-h2;
	font-weight: $font-wt-bold;
	letter-spacing: 0.15rem;
}

h3 {
	font-size: $font-size-h3;
	font-weight: $font-wt-normal;
}

h4 {
	font-weight: $font-wt-bold;
	font-size: $font-size-h4;
}

hr {
	width: 240px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accent {
	color: $clr-accent-dark;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

.gutters {
	padding-left: 1rem;
	padding-right: 1rem;
}

@media only screen and (min-width: 601px) {
	.container {
		width: 85%;
	}
}

@media only screen and (min-width: 993px) {
	.container {
		width: 70%;
	}
}

@media (min-width: 800px) {
	.flex {
		display: flex;
	}
	.m6 {
		width: 50%;
	}
}
