.projects-section {
	padding-top: 7rem;
	padding-bottom: 7rem;

	&__header {
		text-align: center;
		margin-bottom: 3rem;
	}

	.projects-grid {
		margin-top: 4rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 3rem;

		.card {
			background: $clr-secondary;
			display: flex;
			flex-direction: column;

			&__body {
				padding: 2rem;
				height: 100%;
				display: flex;
				flex-direction: column;
			}

			&__actions {
				margin-top: auto;

				a.btn {
					display: block;

					&:first-of-type {
						margin-bottom: 6px;
					}
				}
			}
		}
	}

	@media (min-width: 800px) {
		.projects-grid {
			display: grid;
			// to prevent different column widths
			grid-template-columns: repeat(3, minmax(0, 1fr));
			grid-gap: 2rem;
		}
	}
}
