// GLOBAL VARIABLES
// ACCENT: logo, cta button bg, nav text, headshot border.
$clr-accent-light: #d4b273;
$clr-accent-dark: #d8ac5b;

// PRIMARY: page background
$clr-primary: #1d2228;
// SECONDARY: secondary cta button, 3 column cards background
$clr-secondary: #2d3540;
// TERTIARY: footer background
$clr-tertiary: #808080;

// TEXT COLOR
$clr-text-heading: #fcfdff;
$clr-text-body: #fcfdff;

// TYPOGRAPHY
$font-fam-primary: 'Montserrat', sans-serif;
$font-fam-secondary: 'Roboto', sans-serif;
$font-size-h1: 3.2rem;
$font-size-h2: 1.4rem;
$font-size-h3: 3.2rem;
$font-size-h4: 1.5rem;
$font-size-body: 1rem;
$font-wt-light: 400;
$font-wt-normal: 600;
$font-wt-bold: 700;
$line-ht-base: 1.5;
$line-ht-tight: 1.2;
$line-ht-loose: 1.8;

// white: tagline under logo, secondary cta btn text, cards text, footer social links
$clr-white: #fcfdff;
// black
$clr-black: #0d0a0b;

// --- BUTTONS ---
$btn-focus-box-shadow: 0 0 0 0.25rem $clr-accent-dark;
$btn-secondary-focus-box-shadow: 0 0 0 0.25rem $clr-primary;
