// $green-accent: #3bb99b;
$green-accent: #d4b273;
// $green-accent-hover-bg: #35a88d;
// $green-accent-hover-border: #2d947c;
$green-accent-hover-bg: #d8ac5b;
$green-accent-hover-border: #d8ac5b;
$green-accent-focus-box-shadow: 0 0 0 0.25rem #d8ac5b;
$heading-color: #0d0a0b;
$text-color: #5f5f5f;
// $black-background: #0a0809;
$black-background: #1d2228;
$light-blue-background: #2d3540;
$heading-font: 'Montserrat', sans-serif;
$heading-color: #fcfdff;
$text-color: #fcfdff;
$text-font: 'Roboto', sans-serif;

// White text: #fcfdff
// Gold nav text, logo and cta button:  #d4b273
// Dark Blue bg: #1D2228
// Light blue secondary bg:  #2D3540
// Light blue cta button: #405971
